.titolo, .firstext, .container {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

.titolo {
    height: 100px;
    background-color: #e479e7; 
}

.firstext {
    height: 300px;
    background-color: #e1d67a; 
}

.container {
    height: 400px;
    background-color: #0186fe; 
}

.head {
    background-color: #abcfe7;
    height: 75px;
    margin-bottom: 15px;
}

.head::after {
    content: "";
    clear: both;
    display: table;
}

.ls, .center, .lr {
    background-color: #abcfe7;
    height: 295px;
}

.ls {
    width: 20%;
    float: left;
}

.center {
    width: 50%;
    float: left;
    margin-left: 10px;
}

.lr {
    width: 20%;
    float: left;
    margin-left: 10px;
}